#flex-container {
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100vh;
  gap: 1vh;
  margin-left: 10vw;
  margin-top: 1vh;
}


#atlantium-img {
  width: 100%;
}

.systems-container {
  display: flex;
  flex-flow: column wrap;
  gap: 3vh;
  height: 100%;
  width: 80%;
}


/* When the screen isnt wide enough, the container takes all of the screen */
@media screen and (max-width: 800px), screen and (max-height: 600px) {
  #flex-container {
    width: 100%;
    margin-left: 0;
  }
  
  .systems-container {
    width: 100%;
    margin-left: 0;
  }
  

  #flex-container {
    width: 100%;
    margin-left: 0;
  }
  
  .systems-container {
    width: 100%;
    margin-left: 0;
  }
  
}




