#flex-container {
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100vh;
  gap: 1vh;
  margin-left: 10vw;
  margin-top: 1vh;
}


#atlantium-img {
  width: 100%;
}

.systems-container {
  display: flex;
  flex-flow: column wrap;
  gap: 2vh;
  height: 100%;
  width: 36%;
}


/* When the screen isnt wide enough, the container takes all of the screen */
@media screen and (max-width: 800px), screen and (max-height: 600px) {
  #flex-container {
    width: 100%;
    margin-left: 0;
  }
  
  .systems-container {
    width: 100%;
    margin-left: 0;
  }
  

  #flex-container {
    width: 100%;
    margin-left: 0;
  }
  
}


/* Dynamic header styles */
.app-view-header {
    display: grid;
    font-weight: bold;
    font-family: 'Inter-Medium';
    font-size: var(--font-regular);
    margin-left: 0.7vw;
    margin-right: 0.65vw;
    height: 3vh;
    border-right: 0.25em solid var(--primary);
}


.app-pathogen-type-header {
    text-align: left;
    border-right: 0.15em solid var(--primary);
    width: 9vw;
}



.app-log-header {
    width: 4.5vw;
    text-align: center;
}

.app-log-header:not(:last-child) {
    border-right: 0.15em solid var(--primary);
}




