#flex-container {
  display: flex;
  flex-flow: column;
  width: clamp(700px, 80%, 80%);
  height: 100%;
  gap: 1vh;
  margin-top: 1vh;
  transform: translate(10%);
}


#atlantium-img {
  width: 100%;
}

.systems-container {
  display: grid;
  grid-template-columns: 0.8fr 1.1fr 1.2fr; /* or change fractions to taste */
  gap: clamp(5px, 0.5vh, 0.5vh) clamp(5px, 1vw, 1vw);
  width: 100%;
}

.systems-container > * {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
  height: fit-content;
}

.systems-container > .bundle {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 1vh, 1vh);
  box-sizing: border-box;
  height: 100%;
}


/* Dynamic header styles */
.app-view-header {
    display: grid;
    font-weight: bold;
    font-family: 'Inter-Medium';
    font-size: clamp(6px, 0.9vw, 0.9vw);
    margin-left: clamp(1px, 0.7vw, 0.7vw);
    margin-right: clamp(2px, 1%, 15px);
    height: clamp(10px, 3vh, 3vh);
    border-right: clamp(3.2px, 0.29vw, 3.5px) solid var(--primary);
}


.app-pathogen-type-header {
    text-align: left;
    border-right: 0.15em solid var(--primary);
    width: clamp(20px, 11vw, 11vw);
}

.app-log-header {
    margin: 0;
    padding: 0;
    text-align: center;
}

.app-log-header:not(:last-child) {
    border-right: 0.15em solid var(--primary);
}
.creator-name {
  position: fixed;
  bottom: 0.5%;
  left: 0.2%;
  font-size: var(--font-regular);
  font-weight: bold;
}




