.CalculatorVersion .wrapper {
    aspect-ratio: 8 / 2;
}

.CalculatorVersion .title-box {
    width: 60%;
}

.CalculatorVersion .horizontal-container {
 display: flex;
  flex-flow: row;
  gap: 3%;
  width: 90%;
  height: 60%;
  aspect-ratio: 10 / 1;
}

.CalculatorVersion .button {
    background-color: var(--white);
    border: solid var(--primary) 0.2em;
    border-radius: 0.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: var(--font-regular);
    font-weight: bold;
    font-family: 'Inter-Medium';
    cursor: pointer;
}

.CalculatorVersion .button:hover {
    filter: brightness(1.3);
}