/* I must use this font for the checkbox to look right
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
  font-family: 'Inter-Light';
  -webkit-user-select: none;
  user-select: none;
}

.check-box {
  font-size: clamp(10px, 3vw, 32px); scales but never too small or too big 
}

.check-box label {
  cursor: pointer;
  color: var(--primary);
  display: block;
  margin-top: clamp(0px, 0.6vh, 24px);
}

.check-box .label-text {
  color: var(--text);
  font-size: clamp(10px, 1.1vw, 18px);
  white-space: nowrap;
}

.check-box .label-text:before {
  display: none;
}

.check-box [type="checkbox"] + .label-text:before {
  content: "\f096";
  font-family: "FontAwesome";
  font-style: normal;
  font-size: clamp(16px, 1.6vw, 28px);
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  width: 0em;
  display: inline-block;
  margin-right: clamp(15px, 1.6vw, 30px);
  color: var(--primary);
}

input[type="checkbox"]:checked + .label-text:before {
  content: "\f14a";
  color: var(--highlight);
  animation: tick 150ms ease-in;
}

input[type="checkbox"]:disabled + .label-text:before {
  content: "\f0c8";
} 


@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

*/