.radio-buttons {
    position: absolute;
    top: 50%;  /* adjust as needed */
    left: 45%;
    transform: translate(-50%, -50%); /* centers text */
    overflow: hidden;
}

#test {
    position: absolute;
    top: 50%;  /* adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%); /* centers text */
}

.ChooseApplication .wrapper {
    width: 23vw;
    height: 20vh;
}
