.Dichlorination {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Dichlorination .title-box {
    flex: 0 0 1;
    width: clamp(150px, 20vw, 20vw);
}

.Dichlorination .wrapper {
    height: 100%;
}


.Dichlorination .vertical-container {
    display: flex;
    flex-flow: column;
    gap: 1vh;
    margin-top: clamp(5px, 1vh, 1vh);
}

.Dichlorination .horizontal-container {
    display: flex;
    flex-flow: row;
    gap: clamp(5px, 0.5vw, 30px);
}

.Dichlorination .type-box {
    width: clamp(40px, 8.5vw, 8.5vw);
}

.Dichlorination .value-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    font-family: 'Inter-Medium';
    font-weight: 600;
    border-style: solid;
    border-color: var(--primary);
    border-width: 0.2em;
    width: clamp(40px, 5vw, 150px);
    font-size: clamp(12px, var(--font-regular), 18px);
}
