.PlotFigures .vertical-container {
    display: flex;
    flex-flow: column;
    gap: clamp(4px, 0.5vh, 12px); /* lock gap between buttons */
    margin-top: clamp(12px, 2vh, 32px); /* lock top margin */
}

.PlotFigures .button {
    background-color: var(--white);
    border: solid var(--primary) 0.2em;
    border-radius: 2em;

    /* Clamp padding so it scales but stops shrinking */
    padding: clamp(4px, 0.5vh, 12px) clamp(55px, 5.5vw, 70px);

    font-size: var(--font-regular);
    font-weight: bold;
    font-family: 'Inter-Medium';
    cursor: pointer;
    text-align: center;
}

.PlotFigures .button:hover {
    filter: brightness(1.3);
}
