.PlotFigures .wrapper {
    height: clamp(90px, 16vh, 16vh);
}

.PlotFigures .vertical-container {
    display: flex;
    flex-flow: column;
    gap: clamp(4px, 0.5vh, 0.5vh); /* lock gap between buttons */
    margin-top: clamp(5px, 0.5vh, 0.5vh); /* lock top margin */
}

.PlotFigures .button {
    background-color: var(--white);
    border: solid var(--primary) 0.2em;
    border-radius: 2em;

    /* Clamp padding so it scales but stops shrinking */
    padding: clamp(2px, 0.4vh, 12px) clamp(40px, 5vw, 70px);

    font-size: clamp(8px, 0.9vw, 0.85vw);
    font-weight: bold;
    font-family: 'Inter-Medium';
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.PlotFigures .button:hover {
    filter: brightness(1.3);
}
