.Results .wrapper {
    overflow: visible;
    /* height: clamp(162px, 29vh, 29vh); */
    aspect-ratio: 8 / 4.5;
}

/* .Results .vertical-container {
    display: flex;
    flex-flow: column;
    gap: clamp(4px, 0.5vh, 0.5vh);
    margin-top: clamp(5px, 1vh, 1vh);
}

.Results .type-box {
    width: clamp(120px, 14.5vw, 14.5vw);
    font-size: clamp(6px, 0.8vw, 0.8vw);
}

.Results .small {
    width: clamp(60px, 5.5vw, 140px);
}

.Results .horizontal-container {
    display: flex;
    flex-flow: row;
    gap: clamp(4px, 0.5vw, 16px);
    height: clamp(30px, 5vh, 5vh);
    width: clamp(200px, 26vw, 500px);
    justify-content: center;
}

.Results .value-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    font-family: 'Inter-Light';
    font-weight: bold;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--primary);
    border-width: 0.1em;

    width: clamp(40px, 4vw, 100px);
    font-size: clamp(12px, var(--font-regular), 22px);
}

.Results .line {
    border: none;
    border-top: clamp(2px, 0.4vh, 6px) solid var(--primary);
    margin-top: clamp(4px, 1vh, 16px);
    margin-bottom: clamp(4px, 1vh, 16px);
    width: 96%;
    margin-left: clamp(2px, 0.5vw, 30px);
} */
