.Results .wrapper {
    overflow: visible;
    padding-left: clamp(4px, 0.5vw, 12px);
    padding-right: clamp(4px, 0.5vw, 12px);
}

.Results .vertical-container {
    display: flex;
    flex-flow: column;
    gap: clamp(4px, 0.5vh, 12px);
    margin-top: clamp(8px, 2vh, 24px);
}

.Results .type-box {
    width: clamp(120px, 14.5vw, 240px);
    font-size: clamp(7px, 0.85vw, 22px);
}

.Results .small {
    width: clamp(60px, 7vw, 140px);
}

.Results .horizontal-container {
    display: flex;
    flex-flow: row;
    gap: clamp(4px, 0.5vw, 16px);
    height: clamp(36px, 6vh, 100px);
}

.Results .value-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    font-family: 'Inter-Light';
    font-weight: bold;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--primary);
    border-width: 0.1em;

    width: clamp(40px, 4vw, 100px);
    font-size: clamp(12px, var(--font-regular), 22px);
}

.Results .line {
    border: none;
    border-top: clamp(2px, 0.4vh, 6px) solid var(--primary);
    margin-top: clamp(4px, 1vh, 16px);
    margin-bottom: clamp(4px, 1vh, 16px);
    width: 100%;
}
