/* Range Slider Container */
.range-slider-container {
  position: relative;
  padding-top: clamp(10px, 3vh, 40px); /* Space for the display box */
  width: clamp(5px, 5vw, 100px);
}

/* Value Display Box */
.range-value-display {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--text);
  line-height: clamp(10px, 2.6vh, 40px);
  text-align: center;
  border-radius: clamp(4px, 0.3vw, 8px);
  background: var(--white);
  padding: clamp(6px, 0.5vh, 8px) clamp(4px, 0.5vw, 8px);
  font-family: 'Inter-Light';
  font-size: var(--font-regular);
  font-weight: bold;
  border-color: var(--primary);
  border-style: solid;
  border-width: 0.1rem;
  z-index: 1;
}

/* Range Slider Input */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: clamp(5px, 1vh, 10px);
  border-radius: clamp(4px, 0.5vw, 10px);
  background: var(--grey-blue);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Webkit Browsers (Chrome, Safari, Edge) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: clamp(5px, 0.7vw, 24px);
  height: clamp(5px, 1.5vh, 36px);
  border-radius: 50%;
  background: var(--highlight);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  position: relative;
  z-index: 3;
}

.range-slider::-webkit-slider-thumb:hover,
.range-slider:active::-webkit-slider-thumb {
  background: var(--slider-hover);
}

/* Firefox */
.range-slider::-moz-range-thumb {
  width: clamp(12px, 0.7vw, 24px);
  height: clamp(24px, 1.5vh, 36px);
  border: 0;
  border-radius: 50%;
  background: var(--highlight);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  position: relative;
  z-index: 3;
}

.range-slider::-moz-range-thumb:hover,
.range-slider:active::-moz-range-thumb {
  background: var(--slider-hover);
}

.range-slider::-moz-range-track {
  background: var(--grey-blue);
  border: 0;
  height: clamp(5px, 1vh, 10px);
  border-radius: clamp(4px, 0.5vw, 10px);
}

/* Focus State */
.range-slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 clamp(2px, 0.2vw, 4px) var(--white), 
              0 0 0 clamp(4px, 0.4vw, 8px) var(--slider-hover);
}

/* Remove Focus Outline on Firefox */
.range-slider::-moz-focus-inner,
.range-slider::-moz-focus-outer {
  border: 0;
}


