.Specifications {
    width:30vw;
}


.Specifications .vertical-container {
    display: flex;
    flex-flow: column;
    gap: 0.5vh;
    margin-top: 2vh;
}

.Specifications .type-box {
    height: 6vh;
    width: 10vw;
}

.Specifications .horizontal-container {
    display: flex;
    flex-flow: row;
    gap: 0.5vw;
    min-height: 20px;
    max-height: 10vh;
}

.Specifications .line {
     border: none;
     border-top: 0.4vh solid var(--primary);
     margin-top: 1vh;
     width: 100%;
}
